# Logs
*.log
error_log
debug.log

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
*.swp
*.swo
*~

# Temporary files
*.tmp
*.temp
t

# Local dev tooling
node_modules

# examples
examples/**/package-lock.json